.page {
  min-width: 1100px;
  max-width: 1600px;
  /* this ensures that all content is centered on screens wider than 1600px */
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}