.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -124px;
  width: 660px;
  height: 636px;
  z-index: 0;
  transform: rotate(30deg);
  background-image: url(../../../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
}