.page {
  min-width: 1100px;
  max-width: 1600px;
  /* this ensures that all content is centered on screens wider than 1600px */
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #f2f2f2;
}

.header__title {
  margin: 0 0 0 64px;
  padding: 0;
  max-width: 730px;
  width: 100%;
  align-self: center;
  z-index: 1;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  max-width: 388px;
  width: 100%;
  z-index: 1;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link::after {
  content: '\2192';
  padding-left: 5px;
}

.header__main-illustration {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 756px;
  width: 100%;
  max-height: 608px;
  height: 100%;
  z-index: 1;
}

.header__square-pic {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 64px;
  right: 0;
  max-height: 568px;
  height: 100%;
  max-width: 568px;
  width: 100%;
  background-color: #2f80ed;
}

.logo {
  margin: 0;
  padding: 0;
  z-index: 10;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  max-width: 154px;
  width: 100%;
  height: 31px;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.description {
  margin: 0;
  padding: 100px 0 0;
  display: flex;
  justify-content: center;
}

.two-columns {
  margin: 0;
  padding: 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  margin: 0;
  padding: 0;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:not(:last-child) {
  margin-bottom: 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  margin: 0;
  padding: 100px 0;
}

.section-title {
  margin: 0 auto;
  padding: 0 0 20px;
  width: 60%;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-title_theme_dark {
  position: relative;
  color: #fff;
  z-index: 1;
}

.section-subtitle {
  margin: 0 auto;
  padding: 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-subtitle_theme_dark {
  position: relative;
  color: #fff;
  z-index: 1; 
}

.table {
  margin: 0 auto;
  padding: 0;
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.table_theme_dark {
  color: #fff;
}

.table__cell {
  margin: 60px 0 0;
  padding: 0;
  max-width: 250px;
  width: 100%;
}

.table__cell_theme_dark {
  margin: 80px 0 0;
  width: 200px;
  color: #fff;
  z-index: 1;
}

.table__heading {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__heading_theme_dark {
  color: #fff;
}

.table__text {
  margin: 20px 0 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text_theme_dark {
  color: #fff;
}

.feynman {
  margin: 0;
  padding: 100px 0 0;
  min-height: 790px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
}

.feynman__title {
  margin: 0 0 70px;
  padding: 0;
  max-width: 775px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  margin: 0;
  padding: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

.feynman__link::after {
  content: '\2192';
  padding-left: 8px;
}

.kaufman {
  margin: 0;
  padding: 90px 0;
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -124px;
  width: 660px;
  height: 636px;
  z-index: 0;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
}

.footer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns {
  margin: 0;
  padding: 60px 0 40px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  margin: 0;
}

.footer__column_content_copyright {
  padding: 0;
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_about {
  padding: 0;
}

.footer__column_content_social {
  padding: 0;
}

.footer__author {
  margin: 0;
  padding: 18px 0;
  color: #fff;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0 0 20px;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}

.footer__column-link {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.footer__social-icons {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  width: 16px;
  height: 16px;
}