.khan__buy-link {
  margin: 0;
  padding: 0;
  align-self: flex-start;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.khan__buy-link::after {
  content: '\2192';
  padding-left: 8px;
}